doctype html
html
  head
    title= relativePath || "/"
    link(href=cssPath, rel="stylesheet")
  body
    h1 Directory listing for<br>
      a(href="/") root
      each part in pathParts
        // 8203 is zero-width space. Without it, the text won't wrap
        | &thinsp;/&#8203;&thinsp;
        a(href=part.url)= part.part

    table.directories
      thead
        tr
          th Name
      tbody
        each dir in directories
          tr
            td
              a(href=relativePath + "/" + dir)= dir

    table.files
      thead
        tr
          th.name Name
          th.type Type
          th.size Size
      tbody
        each file in files
          tr
            td.name
              a(href=relativePath + "/" + file.name)= file.name
            td.type= file.extension
            td.size= file.size
