doctype html
html
  head
    title= relativePath || "/"
    link(href="#{ assetPath + 'style.css' }", rel="stylesheet")
  body
    h1 Directory listing for<br>
      a(href="/") root
      span#path

    #directories
      table
        thead
          tr
            th Name
        tbody

    #files

    script#path-template(type="text/template").
      <% pathParts.forEach(function (part) { %>&thinsp;/&#8203;&thinsp;<a href="<%= part.url %>"><%= decodeURIComponent(part.part) %></a><% }); %>

    script#directories-template(type="text/template").
      <% directories.forEach(function (dir) { %>
      <tr>
        <td>
          <a href="<%= relativePath + '/' + dir %>"> <%= dir %> </a>
        </td>
      </tr>
      <% }); %>

    script#files-template(type="text/template").
      <table>
        <thead>
          <tr>
            <th data-column="name" class="name">Name</th>
            <th data-column="extension" class="extension">Ext</th>
            <th data-column="size" class="size">Size</th>
          </tr>
        </thead>
        <tbody>
          <% files.forEach(function (f) { %>
          <tr>
            <td class="name">
              <a href="<%= relativePath + '/' + f.name %>">
                <% if (/\.(png|jp(e?)g|gif)$/.test(relativePath + '/' + f.name)) { %>
                  <span class="picture-icon"></span>
                <% } %>
                <%= f.name %>
              </a>
            </td>
            <td class="extension"><%= f.extension.slice(1) %></td>
            <td class="size"><%= f.formattedSize %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>

    script(src="#{ assetPath + 'require.js' }")
    script.
      (function () {
        var dirData = {
          directories: !{ JSON.stringify(directories) },
          files: !{ JSON.stringify(files) },
          relativePath: "!{ relativePath }",
          pathParts: !{ JSON.stringify(pathParts) }
        };

        require.config({
          baseUrl: "#{ assetPath }",
          paths: {
            underscore: "underscore-min",
            jquery: "http://code.jquery.com/jquery-1.11.3.min",
            backbone: "backbone-min"
          }
        });

        require(['main'], function (init) {
          init(dirData);
        });
      }());
