doctype html
html
  head
    title= relativePath || "/"
    link(href=cssPath, rel="stylesheet")
  body
    h1 Directory listing for<br>
      a(href="/") root
      span#path

    #directories
      table
        thead
          tr
            th Name
        tbody

    #files

    script#path-template(type="text/template").
      <% pathParts.forEach(function (part) { %>&thinsp;/&#8203;&thinsp;<a href="<%= part.url %>"><%= part.part %></a><% }); %>

    script#directories-template(type="text/template").
      <% directories.forEach(function (dir) { %>
      <tr>
        <td>
          <a href="<%= relativePath + '/' + dir %>"> <%= dir %> </a>
        </td>
      </tr>
      <% }); %>

    script#files-template(type="text/template").
      <table>
        <thead>
          <tr>
            <th data-column="name">Name</th>
            <th data-column="extension">Ext</th>
            <th data-column="size">Size</th>
          </tr>
        </thead>
        <tbody>
          <% files.forEach(function (f) { %>
          <tr>
            <td>
              <a href="<%= relativePath + '/' + f.name %>"> <%= f.name %> </a>
            </td>
            <td><%= f.extension %></td>
            <td><%= f.formattedSize %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>

    script(src="#{ requirePath }")
    script.
      (function () {
        var dirData = {
          directories: !{ JSON.stringify(directories) },
          files: !{ JSON.stringify(files) },
          relativePath: "!{ relativePath }",
          pathParts: !{ JSON.stringify(pathParts) }
        };

        require.config({
          baseUrl: "#{ assetPath }",
          paths: {
            underscore: "underscore-min",
            jquery: "http://code.jquery.com/jquery-1.11.3.min",
            backbone: "backbone-min"
          }
        });

        require(['main'], function (init) {
          init(dirData);
        });
      }());
